<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ken.cloud.uc.account.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.ken.cloud.uc.account.entity.Resource">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="resource_type" property="resourceType"/>
        <result column="resource_key" property="resourceKey"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>
    <select id="selectAllByPermissions" resultType="pers.ken.cloud.uc.account.entity.Resource">
        select * from db_usercenter.t_uc_resource tur join db_usercenter.t_uc_permission_resource_rel tuprr
        on tur.id = tuprr.resource_id
        <choose>
            <when test="permissionIds != null and permissionIds.size > 0">
                and tuprr.permission_id in
                <foreach item="id" collection="permissionIds" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                and 1=0
            </otherwise>
        </choose>
    </select>

</mapper>
